.header {
    height: 3.7rem;
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    background-color: #121921;
    position: sticky;  /* sticky */
    top: 0;
    z-index: 100;
    padding-right: 1rem;
}

.headerLogo {
    height: 3rem;
    width: 7rem;
    object-fit: contain;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.headerSearch {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 1.5rem;
}

.headerSearchInput {
    height: 0.7rem;
    padding: 0.6rem;
    border: none;
    width: 100%;
}

.searchIcon {
    padding: 0.3rem;
    height: 1.3rem !important;
    background-color: #F3A847;
}

.searchIcon:hover {
    background-color: #cd9042;
    cursor: pointer;
}

.headerNav {
    display: flex;
    justify-content: space-evenly;
}

.headerSelectAddressLink,
.headerLoginLink {
    text-decoration: none;
}

.navMenus,
.navLocationSelectAddressMenus {
    display: flex;
    flex-direction: column;
    margin-left: 0.6rem;
    color: #fff;
}

.navMenus:hover,
.navLocationSelectAddressMenus:hover,
.headerLogo:hover,
.cartIconContainer:hover {
    border: 1px solid #fff;
    border-radius: 0.15rem;
}

.navMenus,
.navLocationSelectAddressMenus {
    padding: 0.5rem;
}

.navMenus {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navLocationSelectAddressMenus {
    margin-right: 1rem;
}

.locationSelectAddressWrapper {
    display: flex;
}

#navMenuSelectAddress {
    margin-left: 1.5rem;
    margin-right: 2rem;
}

.navMenuOne {
    font-size: 0.6rem;
}

.navMenuTwo {
    font-size: 0.8rem;
    font-weight: 800;
}

.cartIconContainer {
    color: white;
}

.cartIconContainer {
    position: relative;
    height: max-content;
    padding: 0.5rem 0.2rem 0.2rem 0.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.8rem;
}

#headerCartCount {
    position: absolute;
    top: 0rem;
    right: 1.9rem;
    bottom: 0rem;
    color: white;
    text-decoration: none;
    margin-bottom: 0rem;
}
